<ul>
  <li class="home"><a href="/home"><span>home</span></a></li>
  <li class="search"><a href="/search"><span>eearch</span></a></li>
  <li class="mylist"><a href="/mylist"><span>mylist</span></a></li>
  <li class="projects"><a href="/projects"><span>projects</span></a></li>
  <li class="message"><a href="/projects"><span>message</span></a></li>
  <li class="logout"><a href="/home/logout"><span>logout</span></a></li>
</ul>
