<h1>Project#edit</h1>
<% content_for :cols do %>
  <%= form_for @project, :url => { :action => "update" }, :html => { :multipart => true } do |form| %>
    <%= render 'form', :form => form, :edit => true %>
    <%= form.submit "update" %>
  <% end %>
<% end %>
