<h1>Project#new</h1>
<%= form_for @project, :url => { :action => "create" }, :html => { :multipart => true } do |form| %>
  <%= render 'new_form', :form => form %>
  <%= form.submit 'submit' %>
<% end %>
